.settings {
  width: 400px;
  background: #1a1a1a;
  border: 2px solid;
  border-color: #00b0ff;
  border-radius: 4px;
  padding: 10px;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
  border-top: none;
  right: 10px;
  position: absolute;
  z-index: 5;
}

.margin2 {
  margin: 2px;
}

.buttonRestart {
  position: absolute;
  top: 31px;
  right: 0px
}

.dimButton {
  width: 30px;
}

.menuSettings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 31px;
  right: 0px
}

::ng-deep mat-slide-toggle {

  .mat-slide-toggle-content {
    font-weight: 500;
    font-size: 13px;
    color: #212121;
  }
}

::ng-deep .dark-theme .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(9, 49, 68) !important;
}