<div class="menuSettings">
  <mat-slide-toggle [labelPosition]="'before'" [checked]="'true'" color="accent" (change)="checkPiHandleEvent($event)">Check PI</mat-slide-toggle>
  <button mat-icon-button color="primary"  matTooltip="Restart cameras" [matTooltipPosition]="'above'" class="margin0_5 dimButton" (click)="restart()">
    <img src="assets/icons/baseline-restore-24px.svg">
  </button>
  <button mat-icon-button color="primary"  matTooltip="Settings radius" [matTooltipPosition]="'above'" class="margin0_5 dimButton" (click)="toggleRadius()">
    <img src="assets/icons/baseline-settings-20px.svg">
  </button>
</div>

<div *ngIf="!minimize" class="container settings">
  <div  *ngIf="showRadius" class="radiusSetting">
    <h4 class="margin2">Radius setting</h4>
    <form [formGroup]="radiusForm"  novalidate> <!-- (ngSubmit)="saveRadius()" -->
      <mat-form-field color="accent">
        <input matInput formControlName="radius1_6" type="number" placeholder="Radius plane 1.6">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput formControlName="radius3_2" type="number" placeholder="Radius plane 3.2">
      </mat-form-field>
      <button mat-raised-button (click)="saveRadius()" color="accent">Salva</button>
    </form>
  </div>
</div>
