<div class="container">
  <mat-form-field color="accent">
    <input matInput placeholder="Nome file" value="" [(ngModel)]="saveAs">
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-select formControlName="iso" placeholder="Poly decimation">
      <mat-option value="10">10 %</mat-option>
      <mat-option value="15">15 %</mat-option>
      <mat-option value="20">20 %</mat-option>
    </mat-select>
  </mat-form-field>
  <button button mat-raised-button color='accent' class="marginTopBottom10" (click)="fsManager.openDirectory()">
    Choose directory
    <mat-icon aria-label="Example icon-button with a heart icon">folder</mat-icon>
  </button>
</div>
