<mat-toolbar color="accent">
    <mat-toolbar-row>
      <img src="assets/icons/baseline-insert_photo-24px.svg" >
      <span>{{ 'Photogrametry' | uppercase}}</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngIf="!piConnectionOk" class="ledConnection error" [ngClass]="{'error': !piConnectionOk}"></div>

<app-settings (checkPiConnection)="activePiConnection($event)" ></app-settings>