.ledConnection{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #38ff3e;
    border-radius: 100px;
    top: 26px;
    right: 20px;
    box-shadow: 0px 0px 5px black;
}

.ledConnection.error{
    background: #ff0000;
}