$bg-primary: #1a1a1a;
$bgSecondary:  #383838;
.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 2px;
    margin: 2px 5px;
  }

  .example-large-box {
    height: 300px;
    width: 300px;
  }

  .mat-elevation-z4{
      // border: 2px solid;
      z-index: 100;
  }


  .bigMatFab{
    height: 90px;
    width: 90px;
}

ul li{
    list-style-type: none;
}

mat-tab-group{
    background: $bg-primary;
    border: 3px solid $bgSecondary;
    border-radius: 4px;
}

.height100BgSec{
    background: $bgSecondary;    
}



.inlineElements{
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    padding-left: 0px;
    padding-right: 0px;
}


.shotsMode{
    justify-content: space-around;
}

.margin0_5{
    margin: 5px;
}

.modeShots{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex30{
    flex-basis: 30%;
}

.mat-button-toggle-group, .mat-button-toggle-standalone{
    box-shadow: 0px 0px 1px white;
}
.mat-button-toggle{
    width: 150px;
}

.example-radio-button{
    padding: 10px;
    border-radius: 2px;
    border: 1px solid;
    color: #00b0ff;
    background: rgba(0, 0, 0, 0.84);
}

.example-radio-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.centerElement{
display: flex;
margin-top: 15px;
justify-content: center;}

mat-selection-list{
    padding: 0px;
}

.containerStepByStepAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    span{
        text-align: center;
    }

    .elMargin{
        margin: 20px 40px;
    }

}

.imageDirectoryAgi{
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.imageDirectoryAgi{
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: -15px;
    border-bottom: 0px;
    margin-right: 9px;
    display: inline-flex;
    width: 100%;
    background: #383838;
    border-radius: 5px;
}

.mat-radio-button{
    margin: 2px;
}

.minWidth500{
    min-width: 500px;
}

.minWidth600{
    min-width: 600px;
}