<div class="row marginBottom20 justify-content-around">
  <div class="col-5 row  justify-content-center marginBottom20 minWidth500">
    <div *ngIf="false" class="planeDimension col-3">
      <h3 class="width100">Plane dimension</h3>
      <form [formGroup]="planDimensionSettingsForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field>
          <mat-select formControlName="planDim" placeholder="Dimension">
            <mat-option *ngFor="let item of planDimValues" value="item">{{item}} m</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="quality" placeholder="Quality">
            <mat-option *ngFor="let item of qualityValues" value="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group formControlName="direction">
          <mat-radio-button class="margin2" value="Right">Right</mat-radio-button>
          <mat-radio-button class="margin2" value="Left">Left</mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
    <div class="col-10 col-md-offset-1">
      <div class="row ">
        <h3 class="col-10">Shooting mode</h3>
        <div class="col-10 marginBottom20">
          <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="shotsMode" class="inlineBox">
            <mat-button-toggle value="auto">Auto</mat-button-toggle>
            <mat-button-toggle value="single">Single</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-2">
          <button mat-raised-button color="warn" class="margin0_5" (click)="reset()">
            <!-- <i class="material-icons"> settings_backup_restore</i> -->
            <img src="assets/icons/baseline-settings_backup_restore-24px.svg">
            Reset
          </button>
        </div>
      </div>
      <form *ngIf="isAuto() || true" [formGroup]="planDimensionSettingsForm" (ngSubmit)="onSubmit()" class="inlineElements col-12"
        novalidate>
        <mat-form-field color="accent">
          <mat-select formControlName="plane" placeholder="Plane dimension">
            <mat-option *ngFor="let item of planDimValues" value="{{item}}">{{item}} m</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-select formControlName="quality" placeholder="Quality">
            <mat-option *ngFor="let item of qualityValues" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group formControlName="direction">
            <mat-radio-button value="Right">Right</mat-radio-button>
            <mat-radio-button value="Left">Left</mat-radio-button>
          </mat-radio-group>
      </form>
      <button *ngIf="false" class="col-1" mat-raised-button>
        <img src="assets/icons/baseline-settings_backup_restore-24px.svg">
        <!--    <i class="material-icons"> settings_backup_restore</i> -->
        Reset</button>
      <div *ngIf="isAuto()" class="modeShots marginBottom20">
        <button mat-raised-button color="primary" class="margin0_5" (click)="autoShot()">
          <!-- <i class="material-icons">play_circle_outline</i> -->
          <img src="assets/icons/baseline-play_circle_outline-24px.svg">

          Start shots
        </button>
        <button mat-raised-button color="accent" class="margin0_5" (click)="stopShot()">
          <!-- <i class="material-icons">stop</i> -->
          <img class="icon" src="assets/icons/baseline-stop-24px.svg">
          Stop shots
        </button>
      </div>
      <mat-checkbox [(ngModel)]="continuousMove" *ngIf="!isAuto()" class="example-margin width100" [labelPosition]="'after'">Continuously
        cart movement</mat-checkbox>
      <div *ngIf="!isAuto()" class="modeShots marginBottom20 marginTop20">
        <button mat-raised-button color="accent" class="margin0_5 flex30" (click)="moveLeft(continuousMove)">
          <img src="assets/icons/baseline-fast_rewind-24px.svg">
          Move left
        </button>
        <button mat-raised-button color="primary" class="margin0_5 flex30" (click)="singleShot()">
          <img src="assets/icons/baseline-play_circle_outline-24px.svg">
          Shot
        </button>
        <button mat-raised-button color="accent" class="margin0_5 flex30" (click)="moveRight(continuousMove)">
          Move right
          <img src="assets/icons/baseline-fast_forward-24px.svg">
        </button>
        <button mat-raised-button color="accent" class="margin0_5 flex30" (click)="stopShot()">
          <!-- <i class="material-icons">stop</i> -->
          <img class="icon" src="assets/icons/baseline-stop-24px.svg">
          Stop
        </button>
      </div>
    </div>
  </div>
  <div class="col-6 minWidth600">
    <h3>Agisoft integration</h3>
    <div class="imageDirectoryAgi">
      <mat-form-field color="accent">
        <input matInput placeholder="Directory images" disabled value="" [(ngModel)]="pathImagesForAgisoft">
      </mat-form-field>
      <img class="icon" (click)="chooseDirectoryForAgisoftTask()" src="assets/icons/baseline-folder-24px.svg">
      <!--       <mat-icon class="icon" (click)="chooseDirectoryForAgisoftTask()">folder</mat-icon> -->
    </div>
    <button *ngIf="false" button mat-raised-button color='accent' class="marginTopBottom10" (click)="fsManager.openDirectory()">
      Choose directory
      <img class="icon" src="assets/icons/black-baseline-folder-24px.svg">

      <mat-icon aria-label="Example icon-button with a heart icon">folder</mat-icon>
    </button>
    <mat-tab-group color="accent" backgroundColor="primary" dynamicHeight>
      <mat-tab label="Step by step" (click)="setAgisoftMode('STEP_BY_STEP');">
        <div class="mat-elevation-z4">
          <div class="row heigth100  justify-content-center">
            <div *ngIf="false" class="col-12 centerElement">

              <mat-form-field>
                <mat-select placeholder="Command" [(value)]="operationAgiSelected">
                  <mat-option *ngFor="let op of getAgisoftOp()" [value]="op">
                    {{op}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-selection-list [(ngModel)]="selectedOptions">
                <mat-list-option value="{{op.codeOp}}" *ngFor="let op of getAgisoftOp()">
                  {{op.descOp}}
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div class="col-7 height100BgSec containerStepByStepAction">
              <button mat-raised-button color="primary" class="elMargin" (click)="startStepBySteep('high')" [disabled]="waitAgisoftResponse()">
                <!-- <i class="material-icons">play_circle_outline</i> -->
                <img src="assets/icons/baseline-play_circle_outline-24px.svg" alt="logout">
                High quality
              </button>
              <span class="text-small">
                You just have to choose the quality and relax.
              </span>
              <button mat-raised-button color="primary" class="elMargin" (click)="startStepBySteep('low')" [disabled]="waitAgisoftResponse()">
                <!-- <i class="material-icons">play_circle_outline</i> -->
                <img src="assets/icons/baseline-play_circle_outline-24px.svg" alt="logout">
                Low quality
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Speed up" (click)="setAgisoftMode('SPEED_UP');">
        <div class="mat-elevation-z4">
          <div class="row heigth100  justify-content-center">
            <div class="col-12 row justify-content-center align-content-center height100BgSec paddingBott30">
              <div class="col-4 flexColumnCentered">
                <h4>High quality</h4>
                <button mat-fab color="primary" (click)="startSpeedUp('high')" [disabled]="waitAgisoftResponse()">Start</button>
              </div>
              <div class="col-3 flexColumnCentered text-small text-center">
                <span>
                  This command will automatically create photo alignment, dense cloud, mesh, texture.
                  You have to choose the quality.
                </span>
              </div>
              <div class="col-4 flexColumnCentered">
                <h4>Low quality</h4>
                <button mat-fab color="primary" (click)="startSpeedUp('low')" [disabled]="waitAgisoftResponse()">Start</button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Setting">
        <div class="mat-elevation-z4">
          <app-settings-agisoft></app-settings-agisoft>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
