<div *ngIf="alertService.showAlert" class="notification row justify-content-center align-content-center">
    <div  class="col-12 alert" 
    [ngClass]="{'warning': isWarning(), 'error': isError(), 'done': isDone()}">
        <p class="paddingLeft50">
            {{getMessage()}}         
            <img (click)="close()" class="floatRight" src="assets/icons/baseline-close-24px.svg">
        </p>  
      </div>
</div>