


.alert{
    color: black;
    font-weight: bold;
}

.warning{
    background: rgb(241, 177, 0);
}

.error{
    background: #c52424;
}

.done{
    background: rgb(108, 241, 0);
}

.paddingLeft50{
    padding-left: 50px;
}

.notification{
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 64px;
    z-index: 10;
}

.floatRight{
    float: right;
    cursor: pointer;
}