<div class="containerSettingsAgi">
  <h3>{{'Photo Alignment' | uppercase}}</h3>
  <mat-form-field class="example-full-width" color="accent">
    <span matPrefix class="spanLabel">Tie point limit &nbsp;</span>
    <input type="number" [(ngModel)]="settingsService.tiePointLimit" matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" color="accent">
    <span matPrefix class="spanLabel">Key point limit &nbsp;</span>
    <input type="number" [(ngModel)]="settingsService.keyPointLimit" matInput>
  </mat-form-field>

  <h3>{{'Poly decimation' | uppercase}}</h3>
  <mat-form-field class="example-full-width" color="accent">
    <span matPrefix class="spanLabel">Decimate model (%) &nbsp;</span>
    <input type="number" [(ngModel)]="settingsService.decimateModelPercentage" max="100" min="0" matInput>
  </mat-form-field>
</div>