.containerSettingsAgi{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanLabel{
    color: #f5f5f5;
    padding: 6px;
    border-radius: 13px 0px;
    font-weight: 500;
}
h3{
    padding: 0px 15px;
    margin: 0px;
    box-shadow: 0px 1px 0px dodgerblue;
    border-radius: 5px;
}

