<app-header></app-header>
<app-alert-notification></app-alert-notification>
<router-outlet></router-outlet>
<div *ngIf="spinnerService.showSpinner" ngClass class="spinnerLoadingDiv">
  <mat-progress-spinner *ngIf="!spinnerService.isIndeterminate()" class="spinner" diameter='150' color='accent' mode="{{spinnerService.mode}}" value='{{spinnerService.percentualeCompletamento}}'></mat-progress-spinner>
  <mat-progress-spinner *ngIf="spinnerService.isIndeterminate()" class="spinner" diameter='150' color='accent' mode="{{spinnerService.mode}}" ></mat-progress-spinner>
  <span *ngIf="spinnerService.messaggio" class="valoreSpinner" ngClass="{'text':spinnerService.isIndeterminate()}">
    {{spinnerService.messaggio}}
  </span>
  <span *ngIf="spinnerService.percentualeCompletamento" class="valoreSpinner" ngClass="{'text':spinnerService.isIndeterminate()}">
    {{spinnerService.percentualeCompletamento}} %
  </span>
  <button mat-raised-button color="warn" (click)="camService.stopShot()" *ngIf="spinnerService.showStop">
          <img class="icon" src="assets/icons/baseline-stop-24px.svg">
      <!-- <i class="material-icons">stop</i>-->
       Stop</button> 
</div>
