.spinnerLoadingDiv{
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: 0px;
    background: rgba(255, 255, 255, 0.349);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.spinner{
    color: navy;
    z-index: 99999;
    // background: rgba(158, 203, 255, 0.863);
    padding: 10px;
    border-radius: 100px;
    margin: 20px;
}

.valoreSpinner{
/*  font-weight: bold;
    position: absolute;
    margin: auto;
    font-size: 30px;
    z-index: 99999;
    //color: black;
    margin-left: 8px;
    margin-top: -15px; */
    color: white;
    font-size: 30px;
    z-index: 99999;
    position: relative;
    top: -130px;
}