<div class="actionImagePreview">
  <span>Rotation: {{rotationDeg}} deg</span>
  <button mat-raised-button color="accent" (click)="rotate(-90)">Rotate left <i
      class="material-icons">rotate_left</i></button>
  <button mat-raised-button color="accent" (click)="rotate(90)">Rotate right <i class="material-icons">rotate_right</i>
  </button>
  <button mat-raised-button color="warn" (click)="closeImage()"><span class="blackColor">Close</span> <i class="material-icons blackColor"> close</i></button>
</div>

<!-- <div class="infoImg">
  <span>Path: {{pathImg}}</span>
</div> 
<div *ngIf="pathImg" id="container">
  <img src="{{pathImg}}"
    id="image" />
</div>
-->
<!-- <div>
  <span>Use default image viewer:</span>
  <a href="{{pathImg}}">Open</a>
</div> -->
<div *ngIf="pathImg" id="container">
  <div class="imgCover" id="image"></div>
</div>
