.actionImagePreview{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 15px;
}

.infoImg{
    display: flex;

}

#container {
    /* width: 820px;
    height: 100px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
  }
  #container.rotate90,
  #container.rotate270 {
    /*width: 100px;
    height: 820px*/ 
  }
  #image {
    transform-origin: top left;
    /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left;
    /* Chrome */
    -ms-transform-origin: top left;
    /* IE 9 */
  }
  #container.rotate90 #image {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
  }
  #container.rotate180 #image {
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
  }
  #container.rotate270 #image {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
  }

  .imgCover{
    /* background-image: url("http://eskipaper.com/images/image-2.jpg"); 
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    */
    width: 90vh;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 30px 0px;
  }

  .blackColor{color: black;}