/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';
/* 
$primary: #7fcef9;
$secondary: #a5a5a5; */
$bg-primary: #1a1a1a;
$bgSecondary:  #383838;



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



mat-form-field.mat-form-field {
  font-size: 16px;
  width: 80%;
  margin: 0px 10px;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    height: 100%;
  }
}

// UTILS

.paddingBott30{
  padding-bottom: 30px; 
}

.text-small {
  font-size: 10px;
}
.text-center{
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.height100 {
  height: 100%;
}

.width {
  width: 100%;
}

.flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}

.floatRight{
  float: right;
}

.marginBottom20{
  margin-bottom:20px;
}

.marginTop20{
  margin-top:20px;
}


.mat-select-panel {
  min-width: 180px !important;
  max-width: 180px !important;
  transform: translate(-2px, 44px) !important;
}

.mat-select-panel.ng-animating {
  display: none;
}

.icon{
  cursor: pointer;
}

.paddingZero{
  padding: 3px;
}