.photoSettingContainer{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}


.prevImg{
    width: 15%;
    margin: 10px 5px;
}

.sectionPreviewImage{
    display: flex;
    flex-wrap: wrap;
}

.alert-warning{

    background: rgb(241, 177, 0);
    color: black;
}

.marginTopBottom10{
    margin:10px 10px;
    margin-left: 0px;
}

.cleanPreview{
    display: inline-flex;
    top: 22px;
    float: right;
}

.inlineFlex{
    display: inline-flex;
}