<div *ngIf="!imagePreviewPath" class="container-fluid">
  <div class="row justify-content-center align-content-center ">
    <!-- <div *ngIf="settingPhService.msgAlert && false" class="col-12 alert-warning">
      <p>{{settingPhService.msgAlert}}</p>
    </div> -->
    <span class="col-11">
      <button button mat-raised-button color='accent' class="marginTopBottom10" (click)="chooseDirectory()"> <!-- fsManager.openDirectory() -->
        Choose directory
        <img class="icon" src="assets/icons/black-baseline-folder-24px.svg">
      </button>

      <button button mat-raised-button color='accent' class="marginTopBottom10" (click)="fsManager.getFileNames()">
        Get Image
        <img class="icon" src="assets/icons/black-baseline-folder-24px.svg">
      </button>
      <button button mat-raised-button color='accent' class="marginTopBottom10" (click)="settingPhService.autoCompleteForm()">
          Complete form
          <img class="icon" src="assets/icons/black-baseline-folder-24px.svg">
        </button>
    </span>
    <span *ngIf="fsManager.folderSelected" class="col-11">Path: {{fsManager.folderSelected}}</span>
  </div>
  <div class="row justify-content-center align-content-center marginBottom20">
    <div class="col-sm-2 photoSettingContainer">
      <h3 (click)="showAttributes()">Photo settings</h3>
      <!-- <span>Choose directory
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="fsManager.openDirectory()">folder</mat-icon>
        </button>
      </span>  -->
      <!-- <span>Path: {{getPathDir()}}</span> -->
      <form [formGroup]="settingPhService.photoSettingsForm" (ngSubmit)="singleShot()" novalidate>
        <mat-form-field color="accent">
          <mat-select formControlName="iso" placeholder="ISO">
            <mat-option *ngFor="let item of getValuesSpec('ISO_VALUES')" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-select formControlName="whiteBalance" placeholder="White balance">
            <mat-option *ngFor="let item of getValuesSpec('WHITE_BALANCE_VALUES')" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-select formControlName="diafram" placeholder="f/">
            <mat-option *ngFor="let item of getValuesSpec('DIAPHRAGM_VALUES')" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-select formControlName="shutterSpeed" placeholder="Shutter speed">
            <mat-option *ngFor="let item of getValuesSpec('SHUTTER_SPEED_VALUES')" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary">Preview photo</button>
      </form>

    </div>
    <div class="col-sm-9">
      <h3 class="inlineFlex">Preview images</h3>
      <button mat-raised-button *ngIf="fsManager.previewPhotos.length" class="cleanPreview" (click)="cleanPreview()" color="primary">Clean preview</button>
      <div class="sectionPreviewImage">
        <div class="prevImg" *ngFor="let image of fsManager.previewPhotos "> <!-- | reverse -->
          <img matTooltip="{{image.name}}" (click)="showImage(image.path)" [matTooltipPosition]="'above'" src="{{image.path}}" alt="Photo preview">
        </div>
      </div>
    </div>

  </div>
  <mat-divider></mat-divider>

  <app-integration-system></app-integration-system>
</div>
<app-image-preview *ngIf="imagePreviewPath" [pathImg]="imagePreviewPath" (closeImageEmitter)="closePreview($event)"></app-image-preview>
